<!DOCTYPE html>
<html>
  <head>
    <title><%= title %> - Past Results</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/css/repose.css" rel="stylesheet" media="screen">
    <link href="/css/prettify.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".repose-navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><%= title %></a>
      <div class="nav-collapse collapse bs-navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="/<%= application %>/tests">Running Tests</a></li>
          <li><a href="/<%= application %>/applications">Applications</a></li>
          <li class="active"><a href="/<%= application %>/results">Results</a></li>
        </ul>
      </div>
    </div>
    <div class="container">
      <ul class="breadcrumb">
        <li><a href="/<%= application %>">Home</a></li>
        <li><a href="/<%= application %>/results">Results</a></li>
        <li><a href="/<%= application %>/results/<%= sub_app_id %>"><%= sub_app_id %></a></li>
        <li><a href="/<%= application %>/results/<%= sub_app_id %>/<%= test_type %>"><%= test_type %></a></li>
        <li class="active"><%= test_id %></li>
      </ul>
      <div class="panel">
        <div class="panel-heading">
          <h3 class="panel-title">Average Response Time</h3>
        </div>
        <div id="art" style="min-width: 310px; height: 400px; margin: 0 auto;"></div>
      </div>
      <div class="panel">
        <div class="panel-heading">
          <h3 class="panel-title">Throughput</h3>
        </div>
        <div id="network" style="min-width: 310px; height: 400px; margin: 0 auto;"></div>
      </div>
      <div class="panel">
        <div class="panel-heading">
          <h3 class="panel-title">Total Errors</h3>
        </div>
        <div id="cpu" style="min-width: 310px; height: 400px; margin: 0 auto;"></div>
      </div>
      <% request_response_list.each do |key, request_response| %>
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Requests and responses for <%= key %></h3>
        </div>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Request</th>
              <th>Response</th>
            </tr>
          </thead>
          <tbody>
            <% request_response.each do |test| %>
            <tr>
              <td><%= test[0].method %> <%= test[0].uri %> <%= test[0].headers.inspect %>
                <pre class="prettyprint linenums languague-css"><!-- --><%= test[0].body %><!-- --></pre>
              </td>
              <td><%= test[1].response_code %></td>
            </tr>
            <% end  %>
          </tbody>
        </table>
      </div>
      <% end %>
      <% config_list.each do |key, configs| %>
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Configurations for <%= key %></h3>
        </div>
        <div class="accordion" id="config-accordion">
          <% configs.each do|config_id, config| %>
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#config-accordion" href="#<%= key %>-<%= config_id %>"><%= config_id %></a>
            </div>
            <div id="<%= key %>-<%= config_id %>" class="accordion-body collapse in">
              <div class="accordion-inner">
                <pre class="prettyprint linenums languague-css"><!-- --><%= config %><!-- --></pre>
              </div>
            </div>
          </div>
          <% end %>
        </div>
      </div>
      <% end %>
      <% test_location.each do |key, test| %>
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Test Setup for <%= key %></h3>
        </div>
        <div class="row">
          <label for="testLocation" class="col-lg-2 control-label">Test Location</label>
          <div class="col-lg-10">
            <a href="/<%= application %>/results/<%= sub_app_id %>/<%= test_type %>/<%= test_id %>/test_download/<%= test.type %>"><%= test.type %></a>
          </div>
        </div>
      </div>
      <% end %>
      <%
        results_set = []
        results_key_list = []
        result_set_list.each do |key, results|
        	results_set << results
        	results_key_list << key
        end
      %>
      <div class="panel panel-summary">
        <div class="panel-heading">
          <h3 class="panel-title">Detailed Test Results</h3>
        </div>
        <table class="table table-hover">
          <caption><%= results_key_list[0] %> (<%= results_key_list[1] %>)</caption>
          <thead>
            <tr>
              <th>Time</th>
              <th>ART</th>
              <th>Throughput</th>
              <th>Errors</th>
            </tr>
          </thead>
          <tbody>
          	<% results_set[0].zip(results_set[1]).each do |result_array| %>
            <tr>
              <td><%= result_array[0].start if result_array[0] %> s</td>
              <td><%= result_array[0].avg if result_array[0] %> ms (<%= result_array[1].avg if result_array[1]  %> ms)</td>
              <td><%= result_array[0].throughput if result_array[0]  %> rps (<%= result_array[1].throughput if result_array[1]  %> rps)</td>
              <td><%= result_array[0].errors if result_array[0]  %> (<%= result_array[1].errors if result_array[1]  %>)</td>
            </tr>
            <% end %>
		  </tbody>
        </table>
      </div>
    </div>
    <hr>
    <footer>
      <p>&copy; Rackspace Hosting 2013</p>
    </footer>
  </div> <!-- /container -->
    <!-- JavaScript plugins (requires jQuery) -->
    <script src="http://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>

    <!-- Enable responsive features in IE8 with Respond.js (https://github.com/scottjehl/Respond) -->
    <script src="/js/respond.js"></script>
    <script src="/js/repose.min.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="/js/prettify.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        window.prettyPrint && prettyPrint()
        $(".accordion-toggle").collapse();
        var art_option = {
          chart: {
            renderTo: 'art',
            type: 'area',
          },
          title: {
            text: 'Repose Average Response Time'
          },
          yAxis:{
            title: {
              text: 'Milliseconds'
            },
            min: 0
          },
          series: [{
            name: 'Repose Average Response Time'
          }, { name: 'Origin Average Response Time'}]
        };        
        var cpu_option = {
          chart: {
            renderTo: 'cpu',
            type: 'area',
          },
          title: {
            text: 'Total Errors'
          },
          yAxis:{
            title: {
              text: 'count'
            },
            min: 0
          },
          series: [{
            name: 'Repose Total errors'
          }, { name: 'Origin total errors'}]
        };        
        var network_option = {
          chart: {
            renderTo: 'network',
            type: 'area',
          },
          title: {
            text: 'Throughput Utilization'
          },
          yAxis:{
            title: {
              text: 'Requests per second'
            },
            min: 0
          },
          series: [{
            name: 'Repose Average throughput'
          }, { name: 'Origin Average Throughput'}]
        };       

        $.getJSON('/<%= application %>/results/<%= sub_app_id %>/<%= test_type %>/metric/avg/id/<%= test_id %>', function(data) {
          art_option.series[0].data = data.repose;
          art_option.series[1].data = data.origin;
          var art_chart = new Highcharts.Chart(art_option);
        }); 
        $.getJSON('/<%= application %>/results/<%= sub_app_id %>/<%= test_type %>/metric/errors/id/<%= test_id %>', function(data) {
          cpu_option.series[0].data = data.repose;
          cpu_option.series[1].data = data.origin;
          var cpu_chart = new Highcharts.Chart(cpu_option);
        }); 
        $.getJSON('/<%= application %>/results/<%= sub_app_id %>/<%= test_type %>/metric/throughput/id/<%= test_id %>', function(data) {
          network_option.series[0].data = data.repose;
          network_option.series[1].data = data.origin;
          var network_chart = new Highcharts.Chart(network_option);
        }); 
      });
    </script>
  </body>
</html>
