<!DOCTYPE html>
<html>
  <head>
    <title><%= title %> - Results - <%= application %> <%= sub_app_id %> <%= test_type %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/css/repose.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".repose-navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/<%= application %>"><%= title %></a>
      <div class="nav-collapse collapse bs-navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="/<%= application %>/tests">Running Tests</a></li>
          <li><a href="/<%= application %>/applications">Applications</a></li>
          <li class="active"><a href="/<%= application %>/results">Results</a></li>
        </ul>
      </div>
    </div>
    <div class="container">
      <ul class="breadcrumb">
        <li><a href="/<%= application %>">Home</a></li>
        <li><a href="/<%= application %>/results">Results</a></li>
        <li><a href="/<%= application %>/results/<%= sub_app_id %>"><%= sub_app_id %></a></li>
        <li class="active"><%= test_type %></li>
      </ul>
      <div class="panel panel-summary">
        <div class="panel-heading">
          <h3 class="panel-title">Test Results</h3>
        </div>
        <form method="POST">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Started</th>
                <th>ART</th>
                <th>Throughput</th>
                <th>Error</th>
                <th>Plugins</th>
                <th>Compare</th>
              </tr>
            </thead>
            <tbody>
<% result_set_list.each do |result| %>
              <tr>
                <td><%= result.name %></td>
                <td><%= result.description %></td>
                <td><a href="/<%= application %>/results/<%= sub_app_id %>/<%= test_type %>/id/<%= result.id %>"><%= DateTime.strptime(result.start.chomp("000"), '%s')  %></td>
                <td><%= result.avg %> ms</td>
                <td><%= result.throughput %> rps</td>
                <td><%= result.errors %> total errors</td>
                <td>
<% plugin_list.each do |plugin| %>
<% puts plugin %>
                  <div class="btn-group">
                    <a class="btn dropdown-toggle" role="button" data-toggle="dropdown" href="#"><%= plugin[:id] %><span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
<% plugin[:data].each do |option| %>
                      <li><a href="/<%= application %>/results/<%= sub_app_id %>/<%= test_type %>/id/<%= result.id %>/plugin/<%= plugin[:id] %>/<%= option[:id] %>"><%= option[:name] %></a></li>
<% end %>
                    </ul>
                  </div>
<% end %>
                </td>
                <td>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" name="compare[]" value="<%=result.id %>">
                    </label>
                  </div>
                </td>
              </tr>
<% end %>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="6">
                  <button type="submit" class="btn btn-primary">Compare Tests</button>
                </td>
              </tr>
            </tfoot>
          </table>
        </form>
      </div>
      <div class="panel">
        <div class="panel-heading">
          <h3 class="panel-title">Average Response Time</h3>
        </div>
        <div id="art" style="min-width: 310px; height: 400px; margin: 0 auto;"></div>
      </div>
      <div class="panel">
        <div class="panel-heading">
          <h3 class="panel-title">Error Count</h3>
        </div>
        <div id="cpu" style="min-width: 310px; height: 400px; margin: 0 auto;"></div>
      </div>
      <div class="panel">
        <div class="panel-heading">
          <h3 class="panel-title">Average Throughput</h3>
        </div>
        <div id="memory" style="min-width: 310px; height: 400px; margin: 0 auto;"></div>
      </div>
    </div>
    <hr>
    <footer>
      <p>&copy; Rackspace Hosting 2013</p>
    </footer>
  </div> <!-- /container -->
    <!-- JavaScript plugins (requires jQuery) -->
    <script src="http://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
<!--    <script src="/js/bootstrap.min.js"></script>-->
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.1.0/moment.min.js"></script>

    <!-- Enable responsive features in IE8 with Respond.js (https://github.com/scottjehl/Respond) -->
    <script src="/js/respond.js"></script>
    <script src="/js/repose.min.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        var art_option = {
          chart: {
            renderTo: 'art',
            defaultSeriesType: 'spline',
            zoomType: 'x'
          },
          title: {
            text: 'Average Response Time'
          },
          yAxis:{
            title: {
              text: 'Milliseconds'
            }
          },
          xAxis:{
            type: 'datetime',
            dateTimeLabelFormats: {
                day: '%Y-%b-%d'
            }
          },
          series: [{
            name: 'Average Response Time'
          }]
        };        
        var memory_option = {
          chart: {
            renderTo: 'memory',
            defaultSeriesType: 'spline',
            zoomType: 'x'
          },
          title: {
            text: 'Average Throughput'
          },
          yAxis:{
            title: {
              text: 'requests/sec'
            }
          },
          xAxis:{
            type: 'datetime',
            dateTimeLabelFormats: {
                day: '%Y-%b-%d'
            }
          },
          series: [{
            name: 'Average throughput'
          }]
        };        
        var cpu_option = {
          chart: {
            renderTo: 'cpu',
            defaultSeriesType: 'spline',
            zoomType: 'x'
          },
          title: {
            text: 'Error Count'
          },
          yAxis:{
            title: {
              text: 'Total'
            }
          },
          xAxis:{
            type: 'datetime',
            dateTimeLabelFormats: {
                day: '%Y-%b-%d'
            }
          },
          series: [{
            name: 'Error count'
          }]
        };        

        $.getJSON('/<%= application %>/results/<%= sub_app_id %>/<%= test_type %>/metric/avg', function(data) {
console.log(data);
          var data2 = data.avg.map(convertDate);
          art_option.series[0].data = data2;
          var art_chart = new Highcharts.Chart(art_option);
        }); 
        $.getJSON('/<%= application %>/results/<%= sub_app_id %>/<%= test_type %>/metric/throughput', function(data) {
console.log(data);
          var data2 = data.throughput.map(convertDate);
          memory_option.series[0].data = data2;
          var memory_chart = new Highcharts.Chart(memory_option);
        }); 
        $.getJSON('/<%= application %>/results/<%= sub_app_id %>/<%= test_type %>/metric/errors', function(data) {
console.log(data);
          var data2 = data.errors.map(convertDate);
          cpu_option.series[0].data = data2;
          var cpu_chart = new Highcharts.Chart(cpu_option);
        }); 
      });

      function convertDate(value){
        var temp_date = new Date(parseInt(value[0]));
        return [parseInt(value[0]), Math.abs(value[1])];
      }
    </script>
  </body>
</html>
